/* nav styles  */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.baner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.dark-2{
   color: #474747; 
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
  background-position:  top left, right bottom ;
   
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight:800 ;
    font-size: 45px;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li a{
     text-decoration: none;
     font-size: 20px;
}
.secend-bg{
    background-color: #FFF8F3;
}
.btn-primary{
    font-weight: bold;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    padding: 18px 35px;
    border: none;
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: rgb(24, 24, 24);
}
.section-description{

    font-size: 18px;
    color: rgb(117, 117, 117);
}
.ww{
    font-weight: bold;
     border-radius: 5px;
    padding: 18px 35px;
    border: 1px solid #FD6E0A;
    background-color: white;
    color: #FD6E0A;
}
.baner-wel{
    font-size: 45px;
    font-weight: 600px;
}
.baner-title{
    font-size: bold;
    font-weight: 600px;
}
.baner-pp{
    width: 580px;
}
.baner-conntent{
    max-width: 580px;
}    
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
     margin-top: 130px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
   
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 700px;
}
.skill-cointainer{
    display: flex;
    gap: 24px;
}
/* .skill-description{
    padding: 30px 104px 33px 30px;
} */
 .skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
 }
main section{
    margin-top:130px ;
    margin-bottom:130px}
.resume-cointainer{
    display: flex;
    gap: 24px;
}
.exprience-description{
    color:rgb(117, 117, 117) ;
}
.sub-title{
    font-size: 20px;
    color:rgb(117, 117, 117);
    font-weight: 600px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 100px;
}
.footer-culmn{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    display: block;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}